<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="9" android:versionName="1.09" package="com.kutekittenslab.CryptOversee" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="22" android:targetSdkVersion="33" />
	<uses-permission android:name="com.android.vending.BILLING" />
	<meta-data android:name="com.google.android.play.billingclient.version" android:value="4.0.0" />
	<application android:label="CryptOverseeMobileApp.Android" android:icon="@drawable/settings"></application>
</manifest>